*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
}
.cabecalho {
  background-color: #424E61;
  color: rgb(97, 41, 41);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24 px 0;
}
.cabecalho-imagem{
  width: 10 %;
}

.cabecalho-lista-item{
  display: inline-block;
  margin: 0 16 px;
  font-size: 16 px;
}

.top 10 jogos-imagem{
  width: 25 %;
}
.top 10 jogos{
  background-image: linear-gradient(#424E61,#16CFF8);
  color:white 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24 px 0;
}

.top 10 jogos-div-conteudo{
    width: 35 %;
}


.top 10 jogos-titulo{
    padding: 24 px 0;
}

.top 10 jogos{
    padding: 24 px 0;
}